$navbar-avatar-size:              pxToRem(30px);

body.site-navbar-small {
  padding-top: ($navbar-small-height + $site-menubar-height);
}

.site-navbar-small {
  .site-navbar {
    height: $navbar-small-height;
    min-height: $navbar-small-height;

    .navbar-brand {
      height: $navbar-small-height;
      padding: $navbar-small-padding-vertical $navbar-brand-padding-horizontal;
    }

    .navbar-nav {
      margin: ($navbar-small-padding-vertical / 2) (-$navbar-padding-x);

      @include media-breakpoint-up(md) {
        > li {
          > a {
            padding-top:    $navbar-small-padding-vertical;
            padding-bottom: $navbar-small-padding-vertical;
          }
        }
      }
    }

    .navbar-toggler {
      height: $navbar-small-height;
      padding: $navbar-small-padding-vertical $navbar-padding-x;
    }

    .navbar-toolbar {
      > li {
        > a {
          padding-top: $navbar-small-padding-vertical;
          padding-bottom: $navbar-small-padding-vertical;
        }
      }
    }

    .navbar-nav, .navbar-toolbar {
      > li > a.navbar-avatar {
        padding-top: (($navbar-small-height - $navbar-avatar-size)/2);
        padding-bottom: (($navbar-small-height - $navbar-avatar-size)/2);
      }
    }

    .navbar-search-overlap {
      .form-control {
        height: $navbar-small-height !important;
      }
    }
  }

  .site-menubar {
    top: $navbar-small-height;
  }

  .site-skintools {
    top: ($navbar-small-height + $site-menubar-height + pxToRem(30px));
  }

  .slidePanel {
    &.slidePanel-right, &.slidePanel-left {
      top: ($navbar-small-height + $site-menubar-height);
    }
  }
}

@include media-breakpoint-down(sm) {
  body.site-navbar-small {
    padding-top: $navbar-small-height;

    .site-menubar {
      $top: $navbar-small-height;
      top: $top;

      $height: (100% - #{$top});

      height: -webkit-calc($height);
      height: calc($height);
    }

    .page-aside {
      top: $navbar-small-height;
    }

    .site-skintools {
      top: ($navbar-small-height + pxtoRem(30px));
    }

    .slidePanel {
      &.slidePanel-right, &.slidePanel-left {
        top: $navbar-small-height;
      }
    }

    &.site-navbar-collapse-show {
      padding-top: (2 * $navbar-small-height);

      .site-menubar {
        top: (2 * $navbar-small-height);

        $height: (2 * $navbar-small-height);
        height: -webkit-calc(100 - #{$height});
        height: calc(100 - #{$height});
      }

      .page-aside {
        top: (2 * $navbar-small-height);
      }

      .site-skintools {
        top: (2 * $navbar-small-height + pxToRem(30px));
      }

      .slidePanel {
        &.slidePanel-left, &.slidePanel-right {
          top: (2 * $navbar-small-height);
        }
      }    
    }
  }
}