<div ng-controller="listUsers">
  <div class="page bg-white">
    <div class="page-aside">
      <!-- Contacts Sidebar -->
      <div class="page-aside-inner">
        <div class="panel page-aside-section" data-load-type="round-circle">
          <a type="button" class="btn btn-outline btn-default" id="btn-list-users" style="padding: 6px 8px;font-size: 16px;line-height: 1em;margin-top: -9px;margin-right: -10px;">Todos os Usuários</a>
        </div>        
      </div>
    </div>
    <div class="page-main">
      <div class="page-header">
        <h1 class="page-title">Lista de Usuários</h1>
        <div class="page-header-actions">
          <form>
            <div class="input-search input-search-dark">
              <i class="input-search-icon wb-search" aria-hidden="true"></i>
              <input type="text" class="form-control" name="" placeholder="Pesquisar">
            </div>
          </form>
        </div>
      </div>

      <div class="page-content page-content-table">
        <div class="panel" id="panel-list" data-load-type="round-circle">
          <div class="panel-body">

            <table class="table tablesaw" data-tablesaw-mode="stack" data-plugin="animateList"
            data-animate="fade" data-child="tr" id="table-users-list">
              <thead>
                <tr>
                  <th class="cell-60" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3">
                    <span class="checkbox-custom checkbox-primary checkbox-lg contacts-select-all select-all">
                      <input type="checkbox" class="contacts-checkbox" id="select_all" />
                      <label for="select_all"></label>
                    </span>
                  </th>
                  <th class="cell-300" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3">Nome</th>
                  <th class="cell-300" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3">Usuário</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="user in users">
                  <td class="cell-60 responsive-hide">
                    <span class="checkbox-custom checkbox-primary checkbox-lg multi-select">
                      <input type="checkbox" class="contacts-checkbox" id="contacts_{{user.iduser}}" ng-model="user.checked" />
                      <label for="contacts_{{user.iduser}}"></label>
                    </span>
                  </td>
                  <td ng-click="abrirCadastro(user)" class="cell-300"><span class="tablesaw-cell-content">
                    <!-- <a class="avatar" href="javascript:void(0)">
                      <img class="img-responsive" src="{$path}/res/photos/{{user.desfoto}}" alt="Foto">
                    </a> -->
                    {{user.desperson}}
                    </span>
                  </td>
                  <td ng-click="abrirCadastro(user)">{{user.desuser}}</td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>

      <div class="site-action animation-duration-300">
        <button type="button" class="btn-raised btn btn-success btn-floating" data-toggle="modal" data-target="#addUserForm" title="Criar Novo Usuário">
          <i class="front-icon wb-plus animation-scale-up" aria-hidden="true"></i>
          <i class="back-icon wb-close animation-scale-up" aria-hidden="true"></i>
        </button>
        <div class="site-action-buttons" style="top:-70px;">
          <button ng-click="excluirUsers(users)" type="button" class="btn-raised btn btn-danger btn-floating animation-slide-bottom animation-delay-100" title="Excluir Usuário(s)" id="btn-excluir-usuario">
            <i class="icon wb-trash" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="modal fade modal-success in" id="addUserForm" aria-hidden="true" aria-labelledby="addUserForm" role="dialog" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <form>
              <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
                <h4 class="modal-title">Adicionar Novo Usuário</h4>
              </div>
              <div class="modal-body">

                  <div class="form-group">

                    <div class="form-group form-material">
                      <input type="hidden" class="form-control hidden" name="iduser" ng-model="userNew.iduser" />
                    </div>               

                    <div class="form-group form-material">
                      <label>Usuário</label>
                      <input type="text" class="form-control" name="desuser" ng-model="userNew.desuser" />
                    </div>

                    <div class="form-group form-material">
                      <label>Senha</label>
                      <input type="password" class="form-control" name="dessenha" ng-model="userNew.dessenha" />
                    </div>                    
                  </div>

              </div>
              <div class="modal-footer">
                <button class="btn btn-success btn-block" id="btnUserSave" type="button" ng-click="novoUser(userNew)">Salvar Novo Usuario</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
      
  </div>
</div>


<script>
  angular.module("qda", []).controller("listUsers", function($scope, $http){

    $scope.users = [];

    $scope.loadUsers = function(){
      $.store({
        $http:$http,
        cache:false,
        url:PATH+"/admin/users/all",
        success:function(users){

          console.log(users);

          $scope.users = users;

        },
        failure:function(r){

          System.showError(r);

        }
      });

    };

    $scope.abrirCadastro = function(user){

      window.location.href = PATH+"/admin/users"+user.iduser+"/cadastro";

    };

    $scope.novoUser = function(_data){

      var $btn = $("#btnUserSave");

      $btn.btnload("load");

      var data = angular.copy(_data);

      console.log(data);

      rest({

        method:"POST",
        $http:$http,
        url:PATH+"/admin/users",
        data:data,
        success:function(r){

          $btn.btnload("unload");

          $scope.user = r.data;

          $scope.userNew = {};

          $.store({

            $http:$http,
            cache:false,
            url:PATH+"/admin/users/all",
            success:function(users){

              $btn.btnload("unload");
              $("#adduserForm").modal("hide");

              $scope.users = users;

            },
            failure:function(r){

              System.showError(r);

            }

          });

        },
        failure:function(r){

          System.showError(r);

        }

      });

    };

    $scope.excluirusers = function(users){

      var panel = $("#panel-list");

      var usersExcluir = users.filter(function(p){

        return (p.checked);

      });

      var ids = [];

      usersExcluir.forEach(function(p){

        ids.push(p.iduser);

      });

      panel.data("panelAPI").load();

      rest({

        $http:$http,
        method:"DELETE",
        url:PATH+"/admin/users",
        data:{
          ids:ids.toString()
        },
        success:function(r){

          panel.data("panelAPI").done();

          if(r.success){

            $scope.users = users.filter(function(p){

              return (!p.checked);

            });

          }

        },
        failure:function(r){

          panel.data("panelAPI").done();

          System.showError(r);

        }

      });

    };

    $("#btn-list-users").on("click", function(){

      $scope.loadUsers();

    });

    $scope.loadUsers();

  });
</script>