<div ng-controller="listUsuarios">
  <div class="page bg-white">
    <div class="page-aside">
      <!-- Contacts Sidebar -->
      <div class="page-aside-inner">
        <div class="panel page-aside-section" data-load-type="round-circle">
          <a type="button" class="btn btn-outline btn-default" id="btn-list-usuarios" style="padding: 6px 8px;font-size: 16px;line-height: 1em;margin-top: -9px;margin-right: -10px;">Todos os Usuários</a>
        </div>        
      </div>
    </div>
    <div class="page-main">
      <div class="page-header">
        <h1 class="page-title">Lista de Usuários</h1>
        <div class="page-header-actions">
          <form>
            <div class="input-search input-search-dark">
              <i class="input-search-icon wb-search" aria-hidden="true"></i>
              <input type="text" class="form-control" name="" placeholder="Pesquisar">
            </div>
          </form>
        </div>
      </div>

      <div class="page-content page-content-table">
        <div class="panel" id="panel-list" data-load-type="round-circle">
          <div class="panel-body">

            <table class="table tablesaw" data-tablesaw-mode="stack" data-plugin="animateList"
            data-animate="fade" data-child="tr" id="table-usuarios-list">
              <thead>
                <tr>
                  <th class="cell-60" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3">
                    <span class="checkbox-custom checkbox-primary checkbox-lg contacts-select-all select-all">
                      <input type="checkbox" class="contacts-checkbox" id="select_all" />
                      <label for="select_all"></label>
                    </span>
                  </th>
                  <th class="cell-300" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3">Nome</th>
                  <th class="cell-300" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3">Usuário</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="usuario in usuarios">
                  <td class="cell-60 responsive-hide">
                    <span class="checkbox-custom checkbox-primary checkbox-lg multi-select">
                      <input type="checkbox" class="contacts-checkbox" id="contacts_{{usuario.idusuario}}" ng-model="usuario.checked" />
                      <label for="contacts_{{usuario.idusuario}}"></label>
                    </span>
                  </td>
                  <td ng-click="abrirCadastro(usuario)" class="cell-300"><span class="tablesaw-cell-content">
                    <!-- <a class="avatar" href="javascript:void(0)">
                      <img class="img-responsive" src="{$path}/res/photos/{{usuario.desfoto}}" alt="Foto">
                    </a> -->
                    {{usuario.despessoa}}
                    </span>
                  </td>
                  <td ng-click="abrirCadastro(usuario)">{{usuario.desusuario}}</td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>

      <div class="site-action animation-duration-300">
        <button type="button" class="btn-raised btn btn-success btn-floating" data-toggle="modal" data-target="#addUsuarioForm" title="Criar Novo Usuário">
          <i class="front-icon wb-plus animation-scale-up" aria-hidden="true"></i>
          <i class="back-icon wb-close animation-scale-up" aria-hidden="true"></i>
        </button>
        <div class="site-action-buttons" style="top:-70px;">
          <button ng-click="excluirUsuarios(usuarios)" type="button" class="btn-raised btn btn-danger btn-floating animation-slide-bottom animation-delay-100" title="Excluir Usuário(s)" id="btn-excluir-usuario">
            <i class="icon wb-trash" aria-hidden="true"></i>
          </button>
        </div>
      </div>

      <div class="modal fade modal-success in" id="addUsuarioForm" aria-hidden="true" aria-labelledby="addUsuarioForm" role="dialog" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <form>
              <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
                <h4 class="modal-title">Adicionar Novo Usuário</h4>
              </div>
              <div class="modal-body">

                  <div class="form-group">

                    <div class="form-group form-material">
                      <input type="hidden" class="form-control hidden" name="idusuario" ng-model="usuarioNew.idusuario" />
                    </div>               

                    <div class="form-group form-material">
                      <label>Usuário</label>
                      <input type="text" class="form-control" name="desusuario" ng-model="usuarioNew.desusuario" />
                    </div>

                    <div class="form-group form-material">
                      <label>Senha</label>
                      <input type="password" class="form-control" name="dessenha" ng-model="usuarioNew.dessenha" />
                    </div>                    
                  </div>

              </div>
              <div class="modal-footer">
                <button class="btn btn-success btn-block" id="btnUsuarioSave" type="button" ng-click="novoUsuario(usuarioNew)">Salvar Novo Usuario</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
      
  </div>
</div>


<script>
  angular.module("qda", []).controller("listUsuarios", function($scope, $http){

    $scope.usuarios = [];

    $scope.loadUsuarios = function(){
      $.store({
        $http:$http,
        cache:false,
        url:PATH+"/admin/usuarios/all",
        success:function(usuarios){

          console.log(usuarios);

          $scope.usuarios = usuarios;

        },
        failure:function(r){

          System.showError(r);

        }
      });

    };

    $scope.abrirCadastro = function(usuario){

      window.location.href = PATH+"/admin/usuarios"+usuario.idusuario+"/cadastro";

    };

    $scope.novoUsuario = function(_data){

      var $btn = $("#btnUsuarioSave");

      $btn.btnload("load");

      var data = angular.copy(_data);

      console.log(data);

      rest({

        method:"POST",
        $http:$http,
        url:PATH+"/admin/usuarios",
        data:data,
        success:function(r){

          $btn.btnload("unload");

          $scope.usuario = r.data;

          $scope.usuarioNew = {};

          $.store({

            $http:$http,
            cache:false,
            url:PATH+"/admin/usuarios/all",
            success:function(usuarios){

              $btn.btnload("unload");
              $("#addUsuarioForm").modal("hide");
              $scope.usuarios = usuarios;

            },
            failure:function(r){

              System.showError(r);

            }

          });

        },
        failure:function(r){

          System.showError(r);

        }

      });

    };

    $scope.excluirUsuarios = function(usuarios){

      var panel = $("#panel-list");

      var usuariosExcluir = usuarios.filter(function(p){

        return (p.checked);

      });

      var ids = [];

      usuariosExcluir.forEach(function(p){

        ids.push(p.idusuario);

      });

      panel.data("panelAPI").load();

      rest({

        $http:$http,
        method:"DELETE",
        url:PATH+"/admin/usuarios",
        data:{
          ids:ids.toString()
        },
        success:function(r){

          panel.data("panelAPI").done();

          if(r.success){

            $scope.usuarios = usuarios.filter(function(p){

              return (!p.checked);

            });

          }

        },
        failure:function(r){

          panel.data("panelAPI").done();

          System.showError(r);

        }

      });

    };

    $("#btn-list-usuarios").on("click", function(){

      $scope.loadUsuarios();

    });

    $scope.loadUsuarios();

  });
</script>