@import "vars";

.page-login {
  &:before {
    background-image: url("../../images/login.jpg");
  }

  form {
    width: 340px;
    margin: 30px 0;

    a {
      margin-left: 20px;
    }
  }

  .form-control,
  .floating-label,
  .form-control:focus + .floating-label {
    color: $gray-light;
  }

  a {
    color: $color-primary-200;
  }
}

@include media-breakpoint-down(sm) {
  .page-login {
    form {
      width: auto;
    }
  }
}
