---
title: Dashboard
body_class: dashboard
---

{{#extend "layout-default"}}
  {{#content "css_vendor" mode="append"}}
    <link rel="stylesheet" href="{{global}}/vendor/chartist/chartist.css">
    <link rel="stylesheet" href="{{global}}/vendor/aspieprogress/asPieProgress.css">
  {{/content}}

  {{#content "css" mode="prepend"}}
    <link rel="stylesheet" href="{{assets}}/examples/css/dashboard/v2.css">
  {{/content}}


  {{#content "js_vendor" mode="append"}}
    <script src="{{global}}/vendor/chartist/chartist.min.js"></script>
    <script src="{{global}}/vendor/gmaps/gmaps.js"></script>
    <script src="{{global}}/vendor/matchheight/jquery.matchHeight-min.js"></script>
  {{/content}}

  {{#content "js" mode="append"}}
    <script src="{{global}}/js/Plugin/gmaps.js"></script>
    <script src="{{global}}/js/Plugin/matchheight.js"></script>
    <script src="{{global}}/js/Plugin/asscrollable.js"></script>
  {{/content}}


  {{#content "scripts" mode="replace"}}
    <script src="{{assets}}/examples/js/dashboard/v2.js"></script>
  {{/content}}

  {{#content "body"}}

    <!-- Page -->
    <div class="page">
      <div class="page-header h-300 m-b-30">
        <div class="text-xs-center blue-grey-800 m-t-50 m-xs-0">
          <div class="font-size-50 m-b-30 blue-grey-800">Mount Mckinley</div>
          <ul class="list-inline font-size-14">
            <li class="list-inline-item">
              <i class="icon wb-map m-r-5" aria-hidden="true"></i> Central and
              southern Alaska
            </li>
            <li class="list-inline-item m-l-20">
              <i class="icon wb-heart m-r-5" aria-hidden="true"></i> 26,428
            </li>
          </ul>
        </div>
      </div>

      <div class="page-content container-fluid">
        <div class="row" data-plugin="matchHeight" data-by-row="true">
          <div class="col-xxl-3 col-xl-4 col-lg-12 col-xs-12">
            <!-- Panel Web Designer -->
            <div class="card card-shadow">
              <div class="card-block text-xs-center bg-white p-40">
                <div class="avatar avatar-100 m-b-20">
                  <img src="{{global}}/portraits/1.jpg" alt="">
                </div>
                <p class="font-size-20 blue-grey-700">Breno Bitencourt</p>
                <p class="blue-grey-400 m-b-20">Web Designer</p>
                <p class="m-b-35">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                  nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed
                  nisi. </p>
                <ul class="list-inline font-size-18 m-b-35">
                  <li class="list-inline-item">
                    <a class="blue-grey-400" href="javascript:void(0)">
                      <i class="icon bd-twitter" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="list-inline-item m-l-10">
                    <a class="blue-grey-400" href="javascript:void(0)">
                      <i class="icon bd-facebook" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="list-inline-item m-l-10">
                    <a class="blue-grey-400" href="javascript:void(0)">
                      <i class="icon bd-dribbble" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="list-inline-item m-l-10">
                    <a class="blue-grey-400" href="javascript:void(0)">
                      <i class="icon bd-instagram" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
                <button type="button" class="btn btn-primary p-x-40">Follow</button>
              </div>
            </div>
            <!-- End Panel Web Designer -->
          </div>

          <div class="col-xxl-6 col-xl-8 col-lg-12 col-xs-12">
            <!-- Panel Traffic -->
            <div class="card card-shadow example-responsive" id="widgetLinearea">
              <div class="card-block p-30" style="min-width:480px;">
                <div class="row p-b-20" style="height:calc(100% - 322px);">
                  <div class="col-md-8 col-sm-6 col-xs-12">
                    <div class="blue-grey-700">YOUR TRAFFIC VIEWS</div>
                  </div>
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="row">
                      <div class="col-sm-6 col-xs-12">
                        <div class="counter counter-md">
                          <div class="counter-number-group text-nowrap">
                            <span class="counter-number">76</span>
                            <span class="counter-number-related">%</span>
                          </div>
                          <div class="counter-label blue-grey-400">PC Browser</div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-xs-12">
                        <div class="counter counter-md">
                          <div class="counter-number-group text-nowrap">
                            <span class="counter-number">24</span>
                            <span class="counter-number-related">%</span>
                          </div>
                          <div class="counter-label blue-grey-400">Mobile Phone</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ct-chart m-b-30" style="height:270px;"></div>
                <ul class="list-inline text-xs-center m-b-0">
                  <li class="list-inline-item">
                    <i class="icon wb-large-point blue-200 m-r-10" aria-hidden="true"></i>                    PC BROWSER
                  </li>
                  <li class="list-inline-item m-l-35">
                    <i class="icon wb-large-point teal-200 m-r-10" aria-hidden="true"></i>                    MOBILE PHONE
                  </li>
                </ul>
              </div>
            </div>
            <!-- End Panel Traffic -->
          </div>

          <div class="col-xxl-3 col-lg-12 col-xs-12">
            <div class="row h-full">
              <div class="col-xxl-12 col-lg-6 col-xs-12" style="height:50%;">
                <!-- Panel Overall Sales -->
                <div class="card card-shadow card-inverse bg-blue-600 white">
                  <div class="card-block p-30">
                    <div class="counter counter-lg counter-inverse text-xs-left">
                      <div class="counter-label m-b-20">
                        <div>OVERALL SALES</div>
                        <div>Lorem ipsum dolor sit amet</div>
                      </div>
                      <div class="counter-number-group m-b-15">
                        <span class="counter-number-related">$</span>
                        <span class="counter-number">14,000</span>
                      </div>
                      <div class="counter-label">
                        <div class="progress progress-xs m-b-10 bg-blue-800">
                          <div class="progress-bar progress-bar-info bg-white" style="width: 42%" aria-valuemax="100"
                            aria-valuemin="0" aria-valuenow="42" role="progressbar">
                            <span class="sr-only">42%</span>
                          </div>
                        </div>
                        <div class="counter counter-sm text-xs-left">
                          <div class="counter-number-group">
                            <span class="counter-number font-size-14">42%</span>
                            <span class="counter-number-related font-size-14">HIGHER THAN LAST MONTH</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Panel Overall Sales -->
              </div>

              <div class="col-xxl-12 col-lg-6 col-xs-12" style="height:50%;">
                <!-- Panel Today's Sales -->
                <div class="card card-shadow card-inverse bg-red-600 white">
                  <div class="card-block p-30">
                    <div class="counter counter-lg counter-inverse text-xs-left">
                      <div class="counter-label m-b-20">
                        <div>TODAY'S SALES</div>
                        <div>Lorem ipsum dolor sit amet</div>
                      </div>
                      <div class="counter-number-group m-b-10">
                        <span class="counter-number-related">$</span>
                        <span class="counter-number">41,160</span>
                      </div>
                      <div class="counter-label">
                        <div class="progress progress-xs m-b-10 bg-red-800">
                          <div class="progress-bar progress-bar-info bg-white" style="width: 70%" aria-valuemax="100"
                            aria-valuemin="0" aria-valuenow="70" role="progressbar">
                            <span class="sr-only">70%</span>
                          </div>
                        </div>
                        <div class="counter counter-sm text-xs-left">
                          <div class="counter-number-group">
                            <span class="counter-number font-size-14">70%</span>
                            <span class="counter-number-related font-size-14">HIGHER THAN LAST MONTH</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Panel Today's Sales -->
              </div>
            </div>
          </div>
        </div>

        <div class="row" data-plugin="matchHeight" data-by-row="true">
          <div class="col-xl-4 col-lg-6 col-xs-12">
            <!-- Panel Followers -->
            <div class="panel" id="followers">
              <div class="panel-heading">
                <h3 class="panel-title">
                  Followers
                </h3>
                <div class="panel-actions panel-actions-keep">
                  <div class="dropdown">
                    <a class="panel-action" id="examplePanelDropdown" data-toggle="dropdown" href="#"
                      aria-expanded="false" role="button"><i class="icon wb-more-vertical" aria-hidden="true"></i></a>
                    <div class="dropdown-menu dropdown-menu-bullet dropdown-menu-right" aria-labelledby="examplePanelDropdown"
                      role="menu">
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon wb-flag" aria-hidden="true"></i> Action</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon wb-print" aria-hidden="true"></i> Another action</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon wb-heart" aria-hidden="true"></i> Something else here</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon wb-share" aria-hidden="true"></i> Separated link</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-body">
                <ul class="list-group list-group-dividered list-group-full h-300" data-plugin="scrollable">
                  <div data-role="container">
                    <div data-role="content">
                      <li class="list-group-item">
                        <div class="media">
                          <div class="media-left">
                            <a class="avatar avatar-online" href="javascript:void(0)">
                              <img src="{{global}}/portraits/9.jpg" alt="">
                              <i></i>
                            </a>
                          </div>
                          <div class="media-body">
                            <div class="pull-xs-right">
                              <button type="button" class="btn btn-outline btn-default btn-sm">Follow</button>
                            </div>
                            <div>
                              <span>Willard Wood</span>
                            </div>
                            <small>@heavybutterfly920</small>
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="media">
                          <div class="media-left">
                            <a class="avatar avatar-away" href="javascript:void(0)">
                              <img src="{{global}}/portraits/10.jpg" alt="">
                              <i></i>
                            </a>
                          </div>
                          <div class="media-body">
                            <div class="pull-xs-right">
                              <button type="button" class="btn btn-success btn-sm"><i class="icon wb-check" aria-hidden="true"></i>Following</button>
                            </div>
                            <div>
                              <span>Ronnie Ellis</span>
                            </div>
                            <small>@kingronnie24</small>
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="media">
                          <div class="media-left">
                            <a class="avatar avatar-busy" href="javascript:void(0)">
                              <img src="{{global}}/portraits/11.jpg" alt="">
                              <i></i>
                            </a>
                          </div>
                          <div class="media-body">
                            <div class="pull-xs-right">
                              <button type="button" class="btn btn-outline btn-default btn-sm">Follow</button>
                            </div>
                            <div>
                              <span>Gwendolyn Wheeler</span>
                            </div>
                            <small>@perttygirl66</small>
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="media">
                          <div class="media-left">
                            <a class="avatar avatar-off" href="javascript:void(0)">
                              <img src="{{global}}/portraits/12.jpg" alt="">
                              <i></i>
                            </a>
                          </div>
                          <div class="media-body">
                            <div class="pull-xs-right">
                              <button type="button" class="btn btn-outline btn-default btn-sm">Follow</button>
                            </div>
                            <div>
                              <span>Daniel Russell</span>
                            </div>
                            <small>@danieltiger08</small>
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="media">
                          <div class="media-left">
                            <a class="avatar avatar-online" href="javascript:void(0)">
                              <img src="{{global}}/portraits/9.jpg" alt="">
                              <i></i>
                            </a>
                          </div>
                          <div class="media-body">
                            <div class="pull-xs-right">
                              <button type="button" class="btn btn-outline btn-default btn-sm">Follow</button>
                            </div>
                            <div>
                              <span>Willard Wood</span>
                            </div>
                            <small>@heavybutterfly920</small>
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="media">
                          <div class="media-left">
                            <a class="avatar avatar-away" href="javascript:void(0)">
                              <img src="{{global}}/portraits/10.jpg" alt="">
                              <i></i>
                            </a>
                          </div>
                          <div class="media-body">
                            <div class="pull-xs-right">
                              <button type="button" class="btn btn-success btn-sm"><i class="icon wb-check" aria-hidden="true"></i>Following</button>
                            </div>
                            <div>
                              <span>Ronnie Ellis</span>
                            </div>
                            <small>@kingronnie24</small>
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="media">
                          <div class="media-left">
                            <a class="avatar avatar-busy" href="javascript:void(0)">
                              <img src="{{global}}/portraits/11.jpg" alt="">
                              <i></i>
                            </a>
                          </div>
                          <div class="media-body">
                            <div class="pull-xs-right">
                              <button type="button" class="btn btn-outline btn-default btn-sm">Follow</button>
                            </div>
                            <div>
                              <span>Gwendolyn Wheeler</span>
                            </div>
                            <small>@perttygirl66</small>
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="media">
                          <div class="media-left">
                            <a class="avatar avatar-off" href="javascript:void(0)">
                              <img src="{{global}}/portraits/12.jpg" alt="">
                              <i></i>
                            </a>
                          </div>
                          <div class="media-body">
                            <div class="pull-xs-right">
                              <button type="button" class="btn btn-outline btn-default btn-sm">Follow</button>
                            </div>
                            <div>
                              <span>Daniel Russell</span>
                            </div>
                            <small>@danieltiger08</small>
                          </div>
                        </div>
                      </li>
                    </div>
                  </div>
                </ul>
              </div>
            </div>
            <!-- End Panel Followers -->
          </div>

          <div class="col-xl-4 col-lg-6 col-xs-12">
            <!-- Panel Tickets -->
            <div class="panel">
              <div class="panel-heading">
                <h3 class="panel-title">Tickets</h3>
                <div class="panel-actions panel-actions-keep">
                  <div class="dropdown">
                    <a class="panel-action" id="examplePanelDropdown" data-toggle="dropdown" href="#"
                      aria-expanded="false" role="button"><i class="icon wb-more-vertical" aria-hidden="true"></i></a>
                    <div class="dropdown-menu dropdown-menu-bullet dropdown-menu-right" aria-labelledby="examplePanelDropdown"
                      role="menu">
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon wb-flag" aria-hidden="true"></i> Action</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon wb-print" aria-hidden="true"></i> Another action</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon wb-heart" aria-hidden="true"></i> Something else here</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon wb-share" aria-hidden="true"></i> Separated link</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-body">
                <ul class="list-group list-group-dividered list-group-full h-300" data-plugin="scrollable">
                  <div data-role="container">
                    <div data-role="content">
                      <li class="list-group-item">
                        <small class="tag tag-round tag-info pull-xs-right">Completed</small>
                        <p>
                          <span>Server unavaible</span>
                          <span>[13060]</span>
                        </p>
                        <small>Opened by
                          <a class="hightlight" href="javascript:void(0)">
                            <span class="avatar avatar-xs">
                              <img src="{{global}}/portraits/1.jpg" alt="">
                            </span>
                            <span>Herman Beck</span>
                          </a>
                          <time datetime="2016-07-01T08:55">2 hours ago</time>
                        </small>
                      </li>
                      <li class="list-group-item">
                        <small class="tag tag-round tag-warning pull-xs-right">Pendening</small>
                        <p>
                          <span>Mobile App Problem</span>
                          <span>[13061]</span>
                        </p>
                        <small>Opened by
                          <a class="hightlight" href="javascript:void(0)">
                            <span class="avatar avatar-xs">
                              <img src="{{global}}/portraits/2.jpg" alt="">
                            </span>
                            <span>Mary Adams</span>
                          </a>
                          <time datetime="2016-07-01T07:55">1 hour ago</time>
                        </small>
                      </li>
                      <li class="list-group-item">
                        <small class="tag tag-round tag-primary pull-xs-right">In progress</small>
                        <p>
                          <span>IE8 problem</span>
                          <span>[13062]</span>
                        </p>
                        <small>Opened by
                          <a class="hightlight" href="javascript:void(0)">
                            <span class="avatar avatar-xs">
                              <img src="{{global}}/portraits/3.jpg" alt="">
                            </span>
                            <span>Caleb Richards</span>
                          </a>
                          <time datetime="2016-06-28T21:05">3 days ago</time>
                        </small>
                      </li>
                      <li class="list-group-item">
                        <small class="tag tag-round tag-danger pull-xs-right">Rejected</small>
                        <p>
                          <span>Respoonsive problem</span>
                          <span>[13063]</span>
                        </p>
                        <small>Opened by
                          <a class="hightlight" href="javascript:void(0)">
                            <span class="avatar avatar-xs">
                              <img src="{{global}}/portraits/4.jpg" alt="">
                            </span>
                            <span>June Lane</span>
                          </a>
                          <time datetime="2016-06-27T13:05">4 days ago</time>
                        </small>
                      </li>
                      <li class="list-group-item">
                        <small class="tag tag-round tag-info pull-xs-right">Completed</small>
                        <p>
                          <span>Server unavaible</span>
                          <span>[13060]</span>
                        </p>
                        <small>Opened by
                          <a class="hightlight" href="javascript:void(0)">
                            <span class="avatar avatar-xs">
                              <img src="{{global}}/portraits/5.jpg" alt="">
                            </span>
                            <span>Herman Beck</span>
                          </a>
                          <time datetime="2016-07-01T08:55">2 hours ago</time>
                        </small>
                      </li>
                      <li class="list-group-item">
                        <small class="tag tag-round tag-warning pull-xs-right">Pendening</small>
                        <p>
                          <span>Mobile App Problem</span>
                          <span>[13061]</span>
                        </p>
                        <small>Opened by
                          <a class="hightlight" href="javascript:void(0)">
                            <span class="avatar avatar-xs">
                              <img src="{{global}}/portraits/6.jpg" alt="">
                            </span>
                            <span>Mary Adams</span>
                          </a>
                          <time datetime="2016-07-01T07:55">1 hour ago</time>
                        </small>
                      </li>
                      <li class="list-group-item">
                        <small class="tag tag-round tag-primary pull-xs-right">In progress</small>
                        <p>
                          <span>IE8 problem</span>
                          <span>[13062]</span>
                        </p>
                        <small>Opened by
                          <a class="hightlight" href="javascript:void(0)">
                            <span class="avatar avatar-xs">
                              <img src="{{global}}/portraits/7.jpg" alt="">
                            </span>
                            <span>Caleb Richards</span>
                          </a>
                          <time datetime="2016-06-28T21:05">3 days ago</time>
                        </small>
                      </li>
                      <li class="list-group-item">
                        <small class="tag tag-round tag-danger pull-xs-right">Rejected</small>
                        <p>
                          <span>Respoonsive problem</span>
                          <span>[13063]</span>
                        </p>
                        <small>Opened by
                          <a class="hightlight" href="javascript:void(0)">
                            <span class="avatar avatar-xs">
                              <img src="{{global}}/portraits/8.jpg" alt="">
                            </span>
                            <span>June Lane</span>
                          </a>
                          <time datetime="2016-06-27T13:05">4 days ago</time>
                        </small>
                      </li>
                    </div>
                  </div>
                </ul>
              </div>
            </div>
            <!-- End Panel Tickets -->
          </div>

          <div class="col-xl-4 col-lg-12 col-xs-12">
            <!-- Panel Title -->
            <div class="card card-shadow" id="widgetGmap">
              <div class="map h-full" id="gmap"></div>
            </div>
            <!-- End Panel Title -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Page -->

    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>


  {{/content}}
{{/extend}}