/* ----------------------------------------------------------------
	CSS Specific to the Medical Demo

	Some of the CSS Codes have been modified from the Original
	style.css File to match the Styling of this Demo

	Version: 4.2
-----------------------------------------------------------------*/


.section.dark .bgcolor h2 { color: #FFF; }

.section.dark .bgcolor label {
	color: rgba(255,255,255,0.9);
	font-weight: 400;
	text-transform: capitalize;
}


.footer-big-contacts {
	color: #333;
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 1px;
}

.footer-big-contacts span {
	display: block;
	font-size: 11px;
	font-weight: 400;
	text-transform: uppercase;
	color: #888;
	letter-spacing: 2px;
}


#css3-spinner-svg-pulse-wrapper {
	position: absolute;
	overflow: hidden;
	width: 260px;
	height: 210px;
	top: 50%;
	left: 50%;
	margin-top: -105px;
	margin-left: -130px;
	background-color: transparent;
	animation: none;
	-webkit-animation: none;
}

#css3-spinner-svg-pulse {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -105px;
	margin-left: -275px;
}

#css3-spinner-pulse {
	stroke-dasharray: 281;
	-webkit-animation: dash 5s infinite linear forwards;
}

/*Animation*/
@-webkit-keyframes dash {
	from {
		stroke-dashoffset:814;
	}

	to {
		stroke-dashoffset:-814;
	}
}

@keyframes dash {
	from {
		stroke-dashoffset:814;
	}

	to {
		stroke-dashoffset:-814;
	}
}




.opening-table .heading-block span {
	font-size: 16px;
	font-weight: 400;
}

.opening-table {
	padding: 30px;
	background-color: #FFF;
	border-radius: 4px;
	border: 1px solid #EEE;
}

.time-table-wrap .time-table {
	padding: 14px 0;
	text-align: left;
	border-top: 1px solid #E5E5E5;
}

.time-table-wrap .time-table:first-child { border-top: none; }

.time-table-wrap .time-table .col-md-5 { padding-left: 0; }

.time-table-wrap .time-table h5 {
	margin-bottom: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.time-table-wrap .time-table span { font-weight: 500; }

.entry-content p { margin-bottom: 15px; }

.post-grid .entry-title h2 {
	text-transform: none;
	letter-spacing: 0;
	font-size: 19px;
	line-height: 25px;
	font-weight: 400;
}

.form-control.error { border: 2px solid red; }

ul.price-table{
	list-style: none;
}
ul.price-table li {
	padding: 18px 0;
	border-bottom: 1px solid #E0E0E0;
	background-position: left center;
	background-repeat: no-repeat;
	line-height: 0;
}
ul.price-table li span {
	float: left;
	font-weight: bold;
}

ul.price-table li .value {
	float: right;
	color: #666;
}
.more-link { margin-top: 20px; }


/* ----------------------------------------------------------------
	Medical Demo - RTL Support
-----------------------------------------------------------------*/

.rtl #css3-spinner-svg-pulse-wrapper {
	right: 50%;
	left: auto;
	margin-right: -130px;
	margin-left: 0;
}

.rtl #css3-spinner-svg-pulse {
	right: 50%;
	left: auto;
	margin-right: -275px;
	margin-left: 0;
}

.rtl .time-table-wrap .time-table { text-align: right; }

.rtl .time-table-wrap .time-table .col-md-5 { padding-right: 0; }

.rtl ul.price-table li { background-position: right center; }

.rtl ul.price-table li span { float: right; }

.rtl ul.price-table li .value { float: left; }
