---
title: Panel Transition
---

{{#extend "layout-default"}}

  {{#content "css" mode="prepend"}}
    <link rel="stylesheet" href="{{assets}}/examples/css/layouts/panel-transition.css">
  {{/content}}


  {{#content "js" mode="append"}}
    <script src="{{global}}/js/Plugin/animate-list.js"></script>
    <script src="{{global}}/js/Plugin/panel.js"></script>
  {{/content}}


  {{#content "scripts" mode="replace"}}
    <script src="{{assets}}/examples/js/layouts/panel-transition.js"></script>
  {{/content}}

  {{#content "body"}}

    <!-- Page -->
    <div class="page">
      <div class="page-header">
        <h1 class="page-title">Panel Transition</h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{dest 'index.html'}}">Home</a></li>
          <li class="breadcrumb-item active">Panel Transition</li>
        </ol>
        <div class="page-header-actions">
          <div class="btn-group btn-group-sm" id="withBtnGroup" aria-label="Page Header Actions"
            role="group">
            <div class="dropdown">
              <button type="button" class="btn btn-pure" data-toggle="dropdown" aria-expanded="false">
                Try Transtion
                <span class="icon wb-chevron-down-mini" aria-hidden="true"></span>
              </button>
              <div class="dropdown-menu dropdown-menu-right" role="menu">
                <a class="dropdown-item" data-type="fade" href="javascript:void(0)">Fade</a>
                <a class="dropdown-item" data-type="scale-up" href="javascript:void(0)">Scale Up</a>
                <a class="dropdown-item" data-type="slide-left" href="javascript:void(0)">Slide Left</a>
                <a class="dropdown-item" data-type="slide-right" href="javascript:void(0)">Slide Right</a>
                <a class="dropdown-item" data-type="slide-top" href="javascript:void(0)">Slide Top</a>
                <a class="dropdown-item" data-type="slide-bottom" href="javascript:void(0)">Slide Bottom</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="exampleTransition" class="page-content container-fluid" data-plugin="animateList">
        <ul class="blocks-sm-100 blocks-lg-2 blocks-xxl-3">
          <li>
            <div class="panel panel-bordered">
              <div class="panel-heading">
                <h3 class="panel-title">Panel Example - 1</h3>
                <div class="panel-actions">
                  <a class="panel-action icon wb-refresh" data-toggle="panel-refresh" data-load-type="round-circle"
                    data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                  <a class="panel-action icon wb-minus" aria-expanded="true" data-toggle="panel-collapse"
                    aria-hidden="true"></a>
                  <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                  <a class="panel-action icon wb-close" data-toggle="panel-close" aria-hidden="true"></a>
                </div>
              </div>
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
                  velit tortor, dictum in gravida nec, aliquet non lorem. pellentesque.ipiscing
                  elit. Fusce velit tortor.</p>
              </div>
            </div>
          </li>

          <li>
            <div class="panel panel-bordered">
              <div class="panel-heading">
                <h3 class="panel-title">Panel Example - 2</h3>
                <div class="panel-actions">
                  <a class="panel-action icon wb-refresh" data-toggle="panel-refresh" data-load-type="round-circle"
                    data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                  <a class="panel-action icon wb-minus" aria-expanded="true" data-toggle="panel-collapse"
                    aria-hidden="true"></a>
                  <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                  <a class="panel-action icon wb-close" data-toggle="panel-close" aria-hidden="true"></a>
                </div>
              </div>
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
                  velit tortor, dictum in gravida nec, aliquet non lorem. pellentesque.ipiscing
                  elit. Fusce velit tortor.</p>
              </div>
            </div>
          </li>

          <li>
            <div class="panel panel-bordered">
              <div class="panel-heading">
                <h3 class="panel-title">Panel Example - 3</h3>
                <div class="panel-actions">
                  <a class="panel-action icon wb-refresh" data-toggle="panel-refresh" data-load-type="round-circle"
                    data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                  <a class="panel-action icon wb-minus" aria-expanded="true" data-toggle="panel-collapse"
                    aria-hidden="true"></a>
                  <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                  <a class="panel-action icon wb-close" data-toggle="panel-close" aria-hidden="true"></a>
                </div>
              </div>
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
                  velit tortor, dictum in gravida nec, aliquet non lorem. pellentesque.ipiscing
                  elit. Fusce velit tortor.</p>
              </div>
            </div>
          </li>

          <li>
            <div class="panel panel-bordered">
              <div class="panel-heading">
                <h3 class="panel-title">Panel Example - 4</h3>
                <div class="panel-actions">
                  <a class="panel-action icon wb-refresh" data-toggle="panel-refresh" data-load-type="round-circle"
                    data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                  <a class="panel-action icon wb-minus" aria-expanded="true" data-toggle="panel-collapse"
                    aria-hidden="true"></a>
                  <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                  <a class="panel-action icon wb-close" data-toggle="panel-close" aria-hidden="true"></a>
                </div>
              </div>
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
                  velit tortor, dictum in gravida nec, aliquet non lorem. pellentesque.ipiscing
                  elit. Fusce velit tortor.</p>
              </div>
            </div>
          </li>

          <li>
            <div class="panel panel-bordered">
              <div class="panel-heading">
                <h3 class="panel-title">Panel Example - 5</h3>
                <div class="panel-actions">
                  <a class="panel-action icon wb-refresh" data-toggle="panel-refresh" data-load-type="round-circle"
                    data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                  <a class="panel-action icon wb-minus" aria-expanded="true" data-toggle="panel-collapse"
                    aria-hidden="true"></a>
                  <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                  <a class="panel-action icon wb-close" data-toggle="panel-close" aria-hidden="true"></a>
                </div>
              </div>
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
                  velit tortor, dictum in gravida nec, aliquet non lorem. pellentesque.ipiscing
                  elit. Fusce velit tortor.</p>
              </div>
            </div>
          </li>

          <li>
            <div class="panel panel-bordered">
              <div class="panel-heading">
                <h3 class="panel-title">Panel Example - 6</h3>
                <div class="panel-actions">
                  <a class="panel-action icon wb-refresh" data-toggle="panel-refresh" data-load-type="round-circle"
                    data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                  <a class="panel-action icon wb-minus" aria-expanded="true" data-toggle="panel-collapse"
                    aria-hidden="true"></a>
                  <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                  <a class="panel-action icon wb-close" data-toggle="panel-close" aria-hidden="true"></a>
                </div>
              </div>
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
                  velit tortor, dictum in gravida nec, aliquet non lorem. pellentesque.ipiscing
                  elit. Fusce velit tortor.</p>
              </div>
            </div>
          </li>

          <li>
            <div class="panel panel-bordered">
              <div class="panel-heading">
                <h3 class="panel-title">Panel Example - 7</h3>
                <div class="panel-actions">
                  <a class="panel-action icon wb-refresh" data-toggle="panel-refresh" data-load-type="round-circle"
                    data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                  <a class="panel-action icon wb-minus" aria-expanded="true" data-toggle="panel-collapse"
                    aria-hidden="true"></a>
                  <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                  <a class="panel-action icon wb-close" data-toggle="panel-close" aria-hidden="true"></a>
                </div>
              </div>
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
                  velit tortor, dictum in gravida nec, aliquet non lorem. pellentesque.ipiscing
                  elit. Fusce velit tortor.</p>
              </div>
            </div>
          </li>

          <li>
            <div class="panel panel-bordered">
              <div class="panel-heading">
                <h3 class="panel-title">Panel Example - 8</h3>
                <div class="panel-actions">
                  <a class="panel-action icon wb-refresh" data-toggle="panel-refresh" data-load-type="round-circle"
                    data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                  <a class="panel-action icon wb-minus" aria-expanded="true" data-toggle="panel-collapse"
                    aria-hidden="true"></a>
                  <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                  <a class="panel-action icon wb-close" data-toggle="panel-close" aria-hidden="true"></a>
                </div>
              </div>
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
                  velit tortor, dictum in gravida nec, aliquet non lorem. pellentesque.ipiscing
                  elit. Fusce velit tortor.</p>
              </div>
            </div>
          </li>

          <li>
            <div class="panel panel-bordered">
              <div class="panel-heading">
                <h3 class="panel-title">Panel Example - 9</h3>
                <div class="panel-actions">
                  <a class="panel-action icon wb-refresh" data-toggle="panel-refresh" data-load-type="round-circle"
                    data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                  <a class="panel-action icon wb-minus" aria-expanded="true" data-toggle="panel-collapse"
                    aria-hidden="true"></a>
                  <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                  <a class="panel-action icon wb-close" data-toggle="panel-close" aria-hidden="true"></a>
                </div>
              </div>
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
                  velit tortor, dictum in gravida nec, aliquet non lorem. pellentesque.ipiscing
                  elit. Fusce velit tortor.</p>
              </div>
            </div>
          </li>

          <li>
            <div class="panel panel-bordered">
              <div class="panel-heading">
                <h3 class="panel-title">Panel Example - 10</h3>
                <div class="panel-actions">
                  <a class="panel-action icon wb-refresh" data-toggle="panel-refresh" data-load-type="round-circle"
                    data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                  <a class="panel-action icon wb-minus" aria-expanded="true" data-toggle="panel-collapse"
                    aria-hidden="true"></a>
                  <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                  <a class="panel-action icon wb-close" data-toggle="panel-close" aria-hidden="true"></a>
                </div>
              </div>
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
                  velit tortor, dictum in gravida nec, aliquet non lorem. pellentesque.ipiscing
                  elit. Fusce velit tortor.</p>
              </div>
            </div>
          </li>

          <li>
            <div class="panel panel-bordered">
              <div class="panel-heading">
                <h3 class="panel-title">Panel Example - 11</h3>
                <div class="panel-actions">
                  <a class="panel-action icon wb-refresh" data-toggle="panel-refresh" data-load-type="round-circle"
                    data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                  <a class="panel-action icon wb-minus" aria-expanded="true" data-toggle="panel-collapse"
                    aria-hidden="true"></a>
                  <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                  <a class="panel-action icon wb-close" data-toggle="panel-close" aria-hidden="true"></a>
                </div>
              </div>
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
                  velit tortor, dictum in gravida nec, aliquet non lorem. pellentesque.ipiscing
                  elit. Fusce velit tortor.</p>
              </div>
            </div>
          </li>

          <li>
            <div class="panel panel-bordered">
              <div class="panel-heading">
                <h3 class="panel-title">Panel Example - 12</h3>
                <div class="panel-actions">
                  <a class="panel-action icon wb-refresh" data-toggle="panel-refresh" data-load-type="round-circle"
                    data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                  <a class="panel-action icon wb-minus" aria-expanded="true" data-toggle="panel-collapse"
                    aria-hidden="true"></a>
                  <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                  <a class="panel-action icon wb-close" data-toggle="panel-close" aria-hidden="true"></a>
                </div>
              </div>
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
                  velit tortor, dictum in gravida nec, aliquet non lorem. pellentesque.ipiscing
                  elit. Fusce velit tortor.</p>
              </div>
            </div>
          </li>

          <li>
            <div class="panel panel-bordered">
              <div class="panel-heading">
                <h3 class="panel-title">Panel Example - 13</h3>
                <div class="panel-actions">
                  <a class="panel-action icon wb-refresh" data-toggle="panel-refresh" data-load-type="round-circle"
                    data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                  <a class="panel-action icon wb-minus" aria-expanded="true" data-toggle="panel-collapse"
                    aria-hidden="true"></a>
                  <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                  <a class="panel-action icon wb-close" data-toggle="panel-close" aria-hidden="true"></a>
                </div>
              </div>
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
                  velit tortor, dictum in gravida nec, aliquet non lorem. pellentesque.ipiscing
                  elit. Fusce velit tortor.</p>
              </div>
            </div>
          </li>

          <li>
            <div class="panel panel-bordered">
              <div class="panel-heading">
                <h3 class="panel-title">Panel Example - 14</h3>
                <div class="panel-actions">
                  <a class="panel-action icon wb-refresh" data-toggle="panel-refresh" data-load-type="round-circle"
                    data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                  <a class="panel-action icon wb-minus" aria-expanded="true" data-toggle="panel-collapse"
                    aria-hidden="true"></a>
                  <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                  <a class="panel-action icon wb-close" data-toggle="panel-close" aria-hidden="true"></a>
                </div>
              </div>
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
                  velit tortor, dictum in gravida nec, aliquet non lorem. pellentesque.ipiscing
                  elit. Fusce velit tortor.</p>
              </div>
            </div>
          </li>

          <li>
            <div class="panel panel-bordered">
              <div class="panel-heading">
                <h3 class="panel-title">Panel Example - 15</h3>
                <div class="panel-actions">
                  <a class="panel-action icon wb-refresh" data-toggle="panel-refresh" data-load-type="round-circle"
                    data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                  <a class="panel-action icon wb-minus" aria-expanded="true" data-toggle="panel-collapse"
                    aria-hidden="true"></a>
                  <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                  <a class="panel-action icon wb-close" data-toggle="panel-close" aria-hidden="true"></a>
                </div>
              </div>
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
                  velit tortor, dictum in gravida nec, aliquet non lorem. pellentesque.ipiscing
                  elit. Fusce velit tortor.</p>
              </div>
            </div>
          </li>

          <li>
            <div class="panel panel-bordered">
              <div class="panel-heading">
                <h3 class="panel-title">Panel Example - 16</h3>
                <div class="panel-actions">
                  <a class="panel-action icon wb-refresh" data-toggle="panel-refresh" data-load-type="round-circle"
                    data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                  <a class="panel-action icon wb-minus" aria-expanded="true" data-toggle="panel-collapse"
                    aria-hidden="true"></a>
                  <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                  <a class="panel-action icon wb-close" data-toggle="panel-close" aria-hidden="true"></a>
                </div>
              </div>
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
                  velit tortor, dictum in gravida nec, aliquet non lorem. pellentesque.ipiscing
                  elit. Fusce velit tortor.</p>
              </div>
            </div>
          </li>

          <li>
            <div class="panel panel-bordered">
              <div class="panel-heading">
                <h3 class="panel-title">Panel Example - 17</h3>
                <div class="panel-actions">
                  <a class="panel-action icon wb-refresh" data-toggle="panel-refresh" data-load-type="round-circle"
                    data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                  <a class="panel-action icon wb-minus" aria-expanded="true" data-toggle="panel-collapse"
                    aria-hidden="true"></a>
                  <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                  <a class="panel-action icon wb-close" data-toggle="panel-close" aria-hidden="true"></a>
                </div>
              </div>
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
                  velit tortor, dictum in gravida nec, aliquet non lorem. pellentesque.ipiscing
                  elit. Fusce velit tortor.</p>
              </div>
            </div>
          </li>

          <li>
            <div class="panel panel-bordered">
              <div class="panel-heading">
                <h3 class="panel-title">Panel Example - 18</h3>
                <div class="panel-actions">
                  <a class="panel-action icon wb-refresh" data-toggle="panel-refresh" data-load-type="round-circle"
                    data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                  <a class="panel-action icon wb-minus" aria-expanded="true" data-toggle="panel-collapse"
                    aria-hidden="true"></a>
                  <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                  <a class="panel-action icon wb-close" data-toggle="panel-close" aria-hidden="true"></a>
                </div>
              </div>
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
                  velit tortor, dictum in gravida nec, aliquet non lorem. pellentesque.ipiscing
                  elit. Fusce velit tortor.</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

  {{/content}}
{{/extend}}