// site-menubar-flipped
// --------------------------------------------------

.site-menubar-flipped {
  // site-menubar
  .site-menubar {
    right: 0;
    left: auto;

    .site-menu {
      > .site-menu-item {
        > .site-menu-sub {
          left: auto;
          right: $site-menubar-unfold-width;
        }
      } 
    }
  }
  
  &.site-menubar-unfold {
    .page, .site-footer {
      margin-right: $site-menubar-unfold-width;
      margin-left: 0;
    }

    .site-menubar {
      -ms-transform: translate(0, 0);
      @include transform(translate3d(0, 0, 0));
    }
  }

  &.site-menubar-hide {
    .page, .site-footer {
      margin-right: 0;
    }

    .site-menubar {
      -ms-transform: translate($site-menubar-unfold-width, 0);
      @include transform(translate3d($site-menubar-unfold-width, 0, 0));
    }
  }

  .css-menubar & {
    .site-menu {

      .site-menu-item.has-sub:hover {
        >.site-menu-sub {
          right: 100%;
          left: auto;
        }
      }

      .site-menu-sub .site-menu-item:hover>a .site-menu-arrow {
        transform: rotate(-180deg) !important;
      }
    }
  }

  @include media-breakpoint-up(md) {
    // site-navbar
    .site-navbar {
      .navbar-header {
        float: right;
      }

      .navbar-container {
        margin-left: auto;
        margin-right: $site-menubar-unfold-width;
      }
    }
  }
}

// responsive-phone
// --------------------------------------------------

// @include media-breakpoint-down(sm) {
//   .site-menubar-flipped {
//     .site-menubar {
//       -ms-transform: translate(@site-menubar-unfold-width, 0);
//       @include transform(translate3d(@site-menubar-unfold-width, 0, 0));
//     }
//   }
// }
