
html, body {
  height: 100%;
}

body {
  padding-top: $site-navbar-height;
}

// relative-part
.page, .site-footer {
  margin-left: $site-menubar-unfold-width;
  @include media-breakpoint-down(sm) {
    margin-left: auto;
  }
}

.site-navbar {
  .navbar-header {
    @include media-breakpoint-up(md) {
      width: $site-menubar-unfold-width;
    }
  }

  .navbar-container {
    @include media-breakpoint-up(md) {
      margin-left: $site-menubar-unfold-width;
    }
  }
}

.site-menubar {
  z-index: $zindex-menubar;

  position: fixed;
  top: $site-navbar-height;

  height: 100%;
  height: calc(100% - #{$site-navbar-height});

  width: $site-menubar-unfold-width;

  background: $site-menubar-bg;
  color: $site-menubar-color;
  font-family: $site-menubar-font-family;
  box-shadow: $site-menubar-shadow;

  &-body {
    height: 100%;
  }

  ul {
    list-style: none;

    margin: 0;
    padding: 0;
  }

  a {
    outline: none;
    &:hover, &:focus {
      text-decoration: none;
    }
  }

  &.site-menubar-dark {
    background: $site-menubar-dark-bg;
    box-shadow: $site-menubar-dark-shadow;
  }
}
