
.site-navbar {
  background-color: $site-navbar-header-bg;

  .navbar-header {
    background-color: transparent;
    color: $site-navbar-header-color;

    .navbar-toggler {
      color: $site-navbar-header-color;
    }

    .hamburger {
      &:before,
      &:after,
      .hamburger-bar {
        background-color: $site-navbar-header-color;
      }
    }

    .navbar-brand {
      margin-right: 0;
      color: $site-navbar-brand-color;
      font-family: $brand-font-family;
      cursor: pointer;

      &-logo {
        height: 24px;
      }
    }

    @include media-breakpoint-up(md) {
      width: $site-menubar-unfold-width;
    }
  }


  .navbar-container {
    @include media-breakpoint-up(md) {
      margin-left: $site-menubar-unfold-width;
    }

    background-color: $inverse;
  }

  &.navbar-inverse {
    .navbar-container {
      background-color: transparent;
    }
  }
}

//fix issue#250 in remark-v4 ---20161014kevin_y
#site-navbar-search {
  z-index: 1;
}
//end fix issue#250
