@import "vars";

.app-documents {
  .form-group {
    .dropdown-toggle {
      height: 46px;
      padding-left: 20px;
      border-color: $color-blue-grey-200;
      border-width: 1px 0 1px 1px;
      background-color: $inverse;
    }

    .filter-option {
      text-overflow: ellipsis;
      vertical-align: middle;
      float: none !important;
    }

    .input-search-btn {
      z-index: 4;
      font-size: 20px;
      & + .form-control {
        height: 46px;
        border-radius: 0 4px 4px 0;
        padding: 8px 48px 8px 13px;
      }
    }
  }

  .documents-wrap {
    position: relative;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  //articles
  .articles {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 50px 20px 0;
    background-color: $inverse;
    border-radius: $border-radius-large;

    .blocks > li {
      margin-bottom: 50px;
    }
  }

  .articles-item {
    padding-left: 45px;
    position: relative;

    > .icon {
      font-size: 25px;
      position: absolute;
      left: 0;
      top: 0;
    }

    a {
      color: $gray-dark;
    }
  }

  //categories
  .categories {
    margin-top: 25px;
    margin-bottom: 25px;

    .blocks > li {
      margin-bottom: 30px;
    }
  }

  .category {
    padding: 30px;
    height: 100%;
    border-radius: $border-radius-large;
    background-color: $inverse;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    text-align: center;

    .icon-wrap {
      > .icon {
        font-size: 65px;
      }
    }
  }

  //Article
  .article {
      @include  clearfix();
  }

  .article-sidebar, .article-content {
    background-color: $inverse;
    border-radius: $border-radius-large;
    float: left;
  }
  
  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 86px;
  }
  
  .article-sidebar {
    width: 260px;
    padding: 20px 15px;
    margin-bottom: 30px;

    .list-group {
      margin-bottom: 0;

      .list-group {
        display: none;
      }
    }

    .list-group-item {
      padding: 0;
      border: none;
      margin-bottom: 1px;

      a {
        display: block;
        padding: 10px 15px;
        color: $text-color;
        font-weight: 300;
        text-decoration: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover, &:focus {
          color: $text-color;
          background-color: $gray-lightest;
        }

        & + .list-group {
          margin-top: 1px;
        }

        &.dropdown-toggle {
          &:after {
            display: none;
          }
        }
      }

      .active {
        color: $color-primary-600;
        background-color: $gray-lightest;

        ~ .dropdown-menu {
          position: relative;
          float: none;
          display: block;
          border: none;
          box-shadow: none;
          padding: 0;

          .dropdown-item {
            padding-left: 25px;
            margin: 1px 0;
          }
        }
      }
      .list-group-item {
        & > a {
          padding-left: 25px;
        }
      }
    }
  }

  // .affix {
  //   top: 86px;
  //   & + .article-content {
  //     margin-left: 290px
  //   }
  // }

  .article-content {
    margin-left: 30px;
    width: calc(100% - 290px);
    padding: 20px 30px;

    section {
      margin-bottom: $line-height-computed;
    }
  }

  .article-footer {
    font-size: 24px;
    padding: 30px;
    border-radius: $border-radius-large;
    background-color: $gray-lightest;
    @include clearfix();
  }

  .article-footer-actions {
    float: right;
  }
}

@include media-breakpoint-down(sm) {
  .app-documents {
    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
      width: 200px;
    }
    //Article
    .article-sidebar, .article-content {
      width: 100%;
      margin-left: 0;
    }
    .article-sidebar.sticky {
      position: relative;
      top: 0;
    }
  }
}

@include media-breakpoint-down(sm) {
  .app-documents {
    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
      width: 100px;
    }
  }
}
