@import "vars";

.page-login {
  &:before {
    background-image: url("../../images/login.jpg");
  }

  form {
    width: 340px;
    margin: 30px 0;

    a {
      margin-left: 20px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .page-login {
    form {
      width: auto;
    }
  }
}
