.site-footer {
  padding: $site-footer-vertical-padding $page-horizontal-padding;
  background-color:  $site-footer-bg;
  border-top: 1px solid $site-footer-divider-color;
  height:$site-footer-height;
  box-shadow: $site-footer-shadow;

  @include clearfix();

  &-legal {
    float: left;
    margin-left: $site-footer-horizontal-padding;
  }

  &-actions {
    float: right;
    margin-right: $site-footer-horizontal-padding;
  }

  &-right {
    float: right;
    margin-right: $site-footer-horizontal-padding;
  }

  .scroll-to-top {
    color: $text-color;

    &, &:hover, &:active {
      text-decoration: none;
    }
  }

  // @media (max-width: @screen-xs) {
  @include media-breakpoint-down(xs) {  
    height: auto;
  }

  &-legal, &-right, &-actions {
    // @media (max-width: @screen-xs) {
    @include media-breakpoint-down(xs) {
      display: block;
      float: none;
      text-align: center;
    }
  }
}


.site-footer {
  // @media screen and (min-width: @screen-xlg) {
  //   @padding: %(~"calc((100% - %d) / 2 + 30px)", $site-container-width-xlg);
  //   padding-left: @padding !important;
  //   padding-right: @padding !important;
  // }
  // @media (min-width: @screen-lg) and (max-width: @screen-lg-max) {
  //   @padding: %(~"calc((100% - %d) / 2 + 30px)", $site-container-width-lg);
  //   padding-left: @padding !important;
  //   padding-right: @padding !important;
  // }
  // @media (min-width: @screen-md) and (max-width: @screen-md-max) {
  //   @padding: %(~"calc((100% - %d) / 2 + 30px)", $site-container-width-md);
  //   padding-left: @padding !important;
  //   padding-right: @padding !important;
  // }
  // @media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
  //   @padding: %(~"calc((100% - %d) / 2 + 30px)", $site-container-width-sm);
  //   padding-left: @padding !important;
  //   padding-right: @padding !important;
  // }

  // @media screen and (min-width: @screen-xlg) {
  @include media-breakpoint-up(xxl) {
    $padding: calc((100% - #{$site-container-width-xxl}) / 2 + 30px);
    padding-left: $padding !important;
    padding-right: $padding !important;
  }
  // @media (min-width: @screen-lg) and (max-width: @screen-lg-max) {
  @include media-breakpoint-only(xl) {
    $padding: calc((100% - #{$site-container-width-xl}) / 2 + 30px);
    padding-left: $padding !important;
    padding-right: $padding !important;
  }
  // @media (min-width: @screen-md) and (max-width: @screen-md-max) {
  @include media-breakpoint-only(lg) {   
    $padding: calc((100% - #{$site-container-width-lg}) / 2 + 30px);
    padding-left: $padding !important;
    padding-right: $padding !important;
  }
  // @media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
  @include media-breakpoint-only(md) {
    $padding: calc((100% - #{$site-container-width-md}) / 2 + 30px);
    padding-left: $padding !important;
    padding-right: $padding !important;
  }
}
