.page-code-editor .mm-page {
  height: -webkit-calc(100% - 44px);
  height:         calc(100% - 44px);
}

.page-code-editor .mm-page .page {
  height: 100%;
}

.page-code-editor .mm-page .page-main, .page-code-editor .mm-page .page-content {
  height: 100%;
  padding: 0;
}

.page-code-editor .treeview .list-group-item.node-selected {
  background-color: #f5f5f5;
}

.page-code-editor .treeview .list-group-item.node-selected, .page-code-editor .treeview .list-group-item.node-selected .node-icon {
  color: #3f51b5;
}

.page-code-editor .treeview .list-group-item:hover, .page-code-editor .treeview .list-group-item:focus {
  background-color: #f5f5f5;
}

.page-code-editor .CodeMirror {
  height: 100%;
}
