
.site-navbar {
  .navbar-container {
    background-color: transparent;

    @include media-breakpoint-down(sm) {
      background-color: $inverse;
    }
  }

  &.navbar-inverse {
    .navbar-header {
      .hamburger {
        &:before,
        &:after,
        .hamburger-bar {
          background-color: $site-navbar-header-color;
        }
      }
    }

    .navbar-container {
      background-color: transparent;
      @include media-breakpoint-down(sm) {
        background-color: $inverse;
      }
    }

    @include media-breakpoint-down(sm) {
      .navbar-toolbar > li > a {
        color: inherit;
      }
    }
  }
}