.page-eventdrops {
  overflow-x: hidden;
}

.event-drops-chart {
  width: 1200px;
  height: 600px;
  padding: 20px 0;
  background-color: #fff;
}

@media (max-width: 991px) {
  .page-eventdrops .page {
    min-height: -webkit-calc(100% - 44px);
    min-height: calc(100% - 44px);
  }
}

@media (max-width: 1199px) {
  .page-content {
    overflow-x: scroll;
  }
}
