@import "vars";


.page-header {
  // z-index: 100;
  z-index: $zindex-header;
}

#exampleTransition {
	.panel {
		margin-bottom: 0;
	}
}

@include media-breakpoint-down(xs) {
  .page-content {
		.blocks,
		[class*=blocks-] {
		  li {
				width: 100%;
		  }
		}
  }
}
