@import "vars";


.app-contacts {
  .page-content-actions {
    .btn-group {
      margin-left: -6px;
    }

    .btn-pure.btn-default {
      color: $gray;

      &.active, &:focus, &:hover {
        color: $gray-dark;
      }
    }
  }

  table {
    > thead > tr > th,
    > tbody > tr > th,
    > thead > tr > td,
    > tbody > tr > td {
      vertical-align: middle;
      white-space: nowrap;
    }
    .avatar {
      vertical-align: middle;
      margin-right: 10px;
    }
  }

  //SlidePanel
  .slidePanel {
    &-actions {
      float: none;
      position: absolute;
      top: 15px;
      right: 20px;

      .btn-pure {
        color: $gray-light;
        &.active, &:focus, &:hover {
          color: $inverse;
        }
      }
    }
    &-header {
      width: 100%;
      height: 350px;
      text-align: center;
      overflow: inherit;
      .avatar {
        width: 100px;
      }
      .name {
        font-size: 20px;
      }
      .edit {
        position: absolute;
        bottom: -26px;
        right: 20px;
        .md-close{
          display:none;
        }
        &.active{
          .md-close{
            display:inline-block;
          }
          .md-edit{
            display:none;
          }
        }
      }
    }
    .user-info {
      margin: 30px 0;
      td {
        padding: 15px 0;
      }
      .info-label {
        width: 120px;
      }
      .form-group{
        display:none;
        margin:0;
      }
      &.active{
        span{
          display:none;
        }
        .form-group{
          display:block;
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .responsive-hide {
      .tablesaw-cell-label {
        display: none;
      }
    }
    table {
      > thead > tr > th,
      > tbody > tr > th,
      > thead > tr > td,
      > tbody > tr > td {
        padding-left: 30px;
        padding-right: 30px;
        text-align: left;
      }
    }
    .page-content-actions {
      .actions-right {
        float: none;
        display: block;
        .dropdown-toggle {
          border-color: $gray-lighter;
        }
      }
    }
  }

  @include media-breakpoint-down(xs) {
    .page-header {
      .page-header-actions {
        margin-top: 20px;
        position: relative;
        top: 0;
        right: 0;
        transform: none;
      }
    }
  }

  .page {
    margin-top: $page-vertical-padding;
    margin-bottom: $page-vertical-padding;

    @include media-breakpoint-up(xxl) {
      max-width: ($site-container-width-xxl - 60px);
    }
    @include media-breakpoint-between(xl, xl) {
      max-width: ($site-container-width-xl - 60px);
    }
    @include media-breakpoint-between(lg, lg) {
      max-width: ($site-container-width-lg - 60px);
    }
    @include media-breakpoint-between(md, md) {
      max-width: ($site-container-width-md - 60px);
    }
    @include media-breakpoint-down(sm) {
      margin: 0;
    }
  }
}
