@import "vars";
.page-project {
  .card-block {
    padding: 25px;
    border-top: 1px solid $color-blue-grey-200;
    &:first-child {
      border-top: none;
    }
  }

  .btn-pure.btn-trash {
    &:hover, &:focus {
      color: $color-red-600;
    }
  }
  .btn-pure.btn-edit {
    &:hover, &:focus {
      color: $color-green-600;
    }
  }

  // log
  .ui-helper-hidden-accessible {
    display: none;
  }
}

.project-title {
  .btn-edit {
    display: none;
    padding: 0;
    margin-left: 5px;
  }
  &:hover .btn-edit{
    display: inline-block;
  }
}

.project-option-title {
  margin-top: 0px;
  margin-bottom: 20px;
}

.project-team-items {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  .team-item {
    float: left;
  }
  .item-divider {
    width: 30px;
    text-align: center;
    line-height: 42px;
  }
}

.project-controls {
  .dropdown {
    display: inline-block;
  }
  .btn {
    margin: 0 10px 10px 0;
  }
}

.project-checklist {
  .progress {
    position: relative;
    margin-right: 40px;
    max-width: 350px;
    overflow: visible;
  }
  .progress-percent {
    position: absolute;
    right: -35px;
    top: -8px;
  }

  //project-checklist-add show or hidden
  .project-checklist-add {
    display: none;
  }
  &.checklist-editable {
    .project-checklist-add {
      display: block;
    }
  }
}

.project-checklist-title {
   .btn-trash:first-child{
    float: right;
    margin-right: 0;
    padding: 0;
    line-height: 21px;
  }
}

.project-checklist-add {
  position: relative;
  margin: 25px -25px -25px;
  padding: 25px 130px 25px 25px;

  .operations {
    position: absolute;
    right: 25px;
    top: 25px;
  }
}

//project-attachments
.upload-instructions {
  margin: 30px 20px;
}

//project-comments
.project-comments {
  .comment-content {
    position: relative;
    padding-right: 50px;
    .btn-edit,.btn-trash {
      position: absolute;
    }
    .btn-trash {
      top: 2px;
      right: 0;
    }
    .btn-edit {
      top: 2px;
      right: 25px;
    }
  }

  .pos-number {
    color: $color-green-600;
  }
  .neg-number {
    color: $color-red-600;
  }
}

//.comments-add
.project-comments .comments-add {
  .comment-visibility {
    display: inline-block;
    i {
      margin-right: -5px;
    }
  }

  .comment-attach {
    display: inline-block;
    float: right;
  }
}

.project-participators {
  .media-left {
    min-width: 90px;
  }
}

.project-dates span {
  display: inline-block;
  min-width: 80px;
}

//project-agility
.project-agility-view {
  display: block;
  margin-top: 10px;
}

.project-fast-operation {
  a {
    display: block;
    margin-bottom: 10px;
    color: $color-blue-grey-400;
    &:hover, &:focus {
      text-decoration: none;
      color: $color-blue-600;
    }
  }
}
