.overflow-auto {
  overflow: auto;
}
.curso-pointer {
  cursor: pointer;
}
.list-group {
  .list-group-item {
    &:hover {
      background-color: #eee;
    }
  }
}

.ui-tooltip {
  display: none !important;
}

.ui-helper-hidden-accessible {
  display: none;
}

.control-content .bootstrap-select {
  width: 100% !important;
}

.page {
  height: -webkit-calc(100% - 44px);
  height:         calc(100% - 44px);
  overflow: hidden;
}

.page-content {
  height: -webkit-calc(100% - 91px);
  height:         calc(100% - 91px);
  overflow-x: auto;
}

.card {
  border-radius: 0;
}

.real {
  &::before {
    content:'R$ ';
  }
}
