---
title: Profile v3
body_class: page-profile-v3
---

{{#extend "layout-default"}}
  {{#content "css_vendor" mode="append"}}
    <link rel="stylesheet" href="{{global}}/vendor/plyr/plyr.css">
    <link rel="stylesheet" href="{{global}}/vendor/magnific-popup/magnific-popup.css">
  {{/content}}

  {{#content "css" mode="prepend"}}
    <link rel="stylesheet" href="{{assets}}/examples/css/pages/profile_v3.css">
  {{/content}}


  {{#content "js_vendor" mode="append"}}
    <script src="{{global}}/vendor/plyr/plyr.js"></script>
    <script src="{{global}}/vendor/magnific-popup/jquery.magnific-popup.js"></script>
  {{/content}}

  {{#content "js" mode="append"}}
    <script src="{{global}}/js/Plugin/plyr.js"></script>
    <script src="{{global}}/js/Plugin/magnific-popup.js"></script>
  {{/content}}


  {{#content "scripts" mode="replace"}}
    <script src="{{assets}}/examples/js/pages/profile_v3.js"></script>
  {{/content}}

  {{#content "body"}}

    <div class="page">
      <div class="page-content container-fluid">
        <div class="row">
          <div class="col-lg-8 col-xs-12">
            <div class="card">
              <img class="card-img-top w-full" src="{{global}}/photos/placeholder.png">
              <div class="card-block wall-person-info">
                <a class="avatar bg-white img-bordered person-avatar">
                  <img src="{{global}}/portraits/2.jpg">
                </a>
                <h2 class="person-name">
                  <a href="#">Jonathan Smith</a>
                </h2>
                <p class="card-text">
                  <a href="#" class="blue-grey-400">jsmith@flatlab.com</a>
                </p>
              </div>
            </div>
            <div class="card card-shadow wall-posting">
              <div class="card-block p-0">
                <div class="form-group m-b-0">
                  <input class="form-control form-control-lg" type="text" name="write" placeholder="Whats in your mind today?"
                  />
                  <div class="p-10">
                    <button class="btn btn-pure btn-default icon wb-image" type="button" name="button"></button>
                    <button class="btn btn-pure btn-default icon wb-video" type="button" name="button"></button>
                    <button class="btn btn-pure btn-default icon wb-calendar" type="button" name="button"></button>
                    <button class="btn btn-pure btn-default icon wb-map" type="button" name="button"></button>
                    <button class="btn btn-primary btn-round submit pull-xs-right m-r-10">
                      Post
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card card-shadow">
              <div class="card-block media clearfix p-25">
                <div class="media-left">
                  <a href="#" class="avatar avatar-lg">
                    <img class="img-fluid" src="{{global}}/portraits/6.jpg">
                  </a>
                </div>
                <div class="media-body text-middle">
                  <h4 class="media-heading">
                    Mallinda Hollaway
                  </h4>
                  <small>Posted on 31st Aug 2016 at 07:00</small>
                </div>
              </div>
              <div class="card-block p-x-25  p-t-0">
                <p class="card-text m-b-20">
                  Proident amet adipisicing reprehenderit excepteur deserunt amet cupidatat ad. Esse
                  ad dolore aute esse qui dolore irure. Reprehenderit laboris consectetur
                  in enim proident. Deserunt ex adipisicing qui do consequat id
                  in voluptate ut. Deserunt pariatur non ut dolore do. Est anim
                  cillum nulla aliquip veniam sint. Id dolor voluptate cupidatat
                  duis exercitation et do veniam. Duis magna in reprehenderit adipisicing
                  ad voluptate labore tempor.
                </p>
                <div class="row imgs-gallery m-b-20 no-space">
                  <div class="col-lg-12">
                    <a href="../../../global/photos/animal-2-960x640.jpg" alt="..." class="gallery-item"
                      data-img-id="m_1" title="view_1">
                      <img src="../../../global/photos/animal-2-960x640.jpg" class="w-full">
                    </a>
                  </div>
                </div>
                <ul class="wall-attrs clearfix p-0 m-0">
                  <li class="attrs-meta pull-xs-left">
                    <span>
                      <i class="icon wb-chat"></i> 36
                    </span>
                    <span class="success m-l-10">
                      </if>
                      <i class="icon wb-heart"></i> 220
                    </span>
                  </li>
                  <li class="pull-xs-right">
                    <a href="#" class="avatar avatar-sm" data-paticipator-id="p_1">
                      <img src="{{global}}/portraits/3.jpg">
                    </a>
                    <a href="#" class="avatar avatar-sm" data-paticipator-id="p_2">
                      <img src="{{global}}/portraits/1.jpg">
                    </a>
                    <a href="#" class="avatar avatar-sm" data-paticipator-id="p_3">
                      <img src="{{global}}/portraits/2.jpg">
                    </a>
                    <a href="#" class="avatar avatar-sm" data-paticipator-id="p_4">
                      <img src="{{global}}/portraits/4.jpg">
                    </a>
                  </li>
                </ul>
              </div>
              <div class="card-footer p-20">
                <div class="wall-comment">
                  <a href="#" class="avatar avatar-md pull-xs-left">
                    <img src="{{global}}/portraits/3.jpg">
                  </a>
                  <div class="m-l-60">
                    <a href="#">Stacey Hunt</a>
                    <small class="m-l-10">30th July 2016</small>
                    <p class="m-t-5">
                      Sunt dolor ex dolor aliqua consectetur. Id ullamco dolor cillum laboris id deserunt
                      sint. Laboris fugiat ipsum Lorem elit labore cupidatat Lorem
                      ad officia. Laborum proident irure elit pariatur adipisicing
                      aliquip.
                    </p>
                  </div>
                  <div class="dropdown comment-operation">
                    <button type="button" class="btn btn-icon btn-round btn-default btn-sm" data-toggle="dropdown"
                      aria-expanded="false">
                      <i class="icon wb-more-vertical"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Report</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Delete</a>
                    </div>
                  </div>
                </div>
                <div class="wall-comment">
                  <a href="#" class="avatar avatar-md pull-xs-left">
                    <img src="{{global}}/portraits/5.jpg">
                  </a>
                  <div class="m-l-60">
                    <a href="#">Sam Anderson</a>
                    <small class="m-l-10">3 mins ago...</small>
                    <p class="m-t-5">
                      Esse anim nisi dolore sunt proident non consectetur ex dolor. Non ipsum velit aliquip
                      nulla ullamco est irure. Laboris nisi eiusmod commodo tempor
                      ut nulla. Cupidatat aliqua fugiat consectetur commodo fugiat
                      sint.
                    </p>
                  </div>
                  <div class="dropdown comment-operation">
                    <button type="button" class="btn btn-icon btn-round btn-default btn-sm" data-toggle="dropdown"
                      aria-expanded="false">
                      <i class="icon wb-more-vertical"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Report</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Delete</a>
                    </div>
                  </div>
                </div>
                <form class="wall-comment-reply">
                  <input type="text" class="form-control" placeholder="Write Something...">
                  <div class="reply-operation">
                    <button class="btn btn-sm btn-primary reply-post" type="button">POST</button>
                    <button class="btn btn-sm btn-pure btn-default reply-cancel" type="button">CANCEL</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="card card-shadow">
              <div class="card-block media clearfix p-25">
                <div class="media-left">
                  <a href="#" class="avatar avatar-lg">
                    <img class="img-fluid" src="{{global}}/portraits/1.jpg">
                  </a>
                </div>
                <div class="media-body text-middle">
                  <h4 class="media-heading">
                    Felix Harper
                  </h4>
                  <small>Posted on 29th Aug 2016 at 02:10</small>
                </div>
              </div>
              <div class="card-block p-x-25  p-t-0">
                <p class="card-text m-b-20">
                  Velit nisi non occaecat ad fugiat tempor. Dolore consequat est ad laboris excepteur
                  laborum. Mollit ipsum eiusmod ullamco fugiat sit et adipisicing
                  eiusmod culpa. Lorem laborum culpa adipisicing qui ullamco cupidatat
                  sint. Voluptate exercitation consequat nostrud nostrud nulla
                  id. Est in magna culpa ullamco commodo excepteur enim nostrud
                  irure. Irure deserunt aute velit nulla ea. Officia elit ad consectetur
                  occaecat excepteur ea officia minim.
                </p>
                <ul class="wall-attrs clearfix p-0 m-0">
                  <li class="attrs-meta pull-xs-left">
                    <span>
                      <i class="icon wb-chat"></i> 0
                    </span>
                    <span class="m-l-10">
                      </if>
                      <i class="icon wb-heart"></i> 0
                    </span>
                  </li>
                  <li class="pull-xs-right">
                    <a href="#" class="avatar avatar-sm" data-paticipator-id="p_1">
                      <img src="{{global}}/portraits/3.jpg">
                    </a>
                  </li>
                </ul>
              </div>
              <div class="card-footer p-20">
                <form class="wall-comment-reply">
                  <input type="text" class="form-control" placeholder="Write Something...">
                  <div class="reply-operation">
                    <button class="btn btn-sm btn-primary reply-post" type="button">POST</button>
                    <button class="btn btn-sm btn-pure btn-default reply-cancel" type="button">CANCEL</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="card card-shadow">
              <div class="card-block media clearfix p-25">
                <div class="media-left">
                  <a href="#" class="avatar avatar-lg">
                    <img class="img-fluid" src="{{global}}/portraits/5.jpg">
                  </a>
                </div>
                <div class="media-body text-middle">
                  <h4 class="media-heading">
                    Johnni Schmidt
                  </h4>
                  <small>Posted on 2nd on Jul 2016 at 02:10</small>
                </div>
              </div>
              <div class="card-block p-x-25  p-t-0">
                <p class="card-text m-b-20">
                  Consequat anim esse ad consectetur. Voluptate Lorem eiusmod ex velit anim Lorem
                  esse. Occaecat culpa consectetur nulla et non nulla id laboris.
                  Minim labore laboris fugiat duis. Ea ullamco consequat cillum
                  tempor ipsum anim aliqua. Esse reprehenderit mollit laborum esse
                  ea ex enim. Duis id deserunt sunt fugiat. Officia ut proident
                  dolore fugiat.
                </p>
                <div class="row imgs-gallery m-b-20 no-space">
                  <div class="col-xl-4 col-lg-6 col-xs-12">
                    <a href="../../../global/photos/city-2-720x480.jpg" alt="..." class="gallery-item"
                      data-img-id="m_1" title="view_1">
                      <img src="../../../global/photos/city-2-720x480.jpg" class="w-full">
                    </a>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-xs-12">
                    <a href="../../../global/photos/city-3-720x480.jpg" alt="..." class="gallery-item"
                      data-img-id="m_2" title="view_2">
                      <img src="../../../global/photos/city-3-720x480.jpg" class="w-full">
                    </a>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-xs-12">
                    <a href="../../../global/photos/city-4-720x480.jpg" alt="..." class="gallery-item"
                      data-img-id="m_3" title="view_3">
                      <img src="../../../global/photos/city-4-720x480.jpg" class="w-full">
                    </a>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-xs-12">
                    <a href="../../../global/photos/city-5-720x480.jpg" alt="..." class="gallery-item"
                      data-img-id="m_4" title="view_4">
                      <img src="../../../global/photos/city-5-720x480.jpg" class="w-full">
                    </a>
                  </div>
                  <div class="col-xl-6 col-lg-12 col-xs-12">
                    <a href="../../../global/photos/animal-1-720x480.jpg" alt="..." class="gallery-item"
                      data-img-id="m_5" title="view_5">
                      <img src="../../../global/photos/animal-1-720x480.jpg" class="w-full">
                    </a>
                  </div>
                </div>
                <ul class="wall-attrs clearfix p-0 m-0">
                  <li class="attrs-meta pull-xs-left">
                    <span>
                      <i class="icon wb-chat"></i> 2
                    </span>
                    <span class="success m-l-10">
                      </if>
                      <i class="icon wb-heart"></i> 10
                    </span>
                  </li>
                  <li class="pull-xs-right">
                    <a href="#" class="avatar avatar-sm" data-paticipator-id="p_1">
                      <img src="{{global}}/portraits/2.jpg">
                    </a>
                    <a href="#" class="avatar avatar-sm" data-paticipator-id="p_2">
                      <img src="{{global}}/portraits/1.jpg">
                    </a>
                  </li>
                </ul>
              </div>
              <div class="card-footer p-20">
                <div class="wall-comment">
                  <a href="#" class="avatar avatar-md pull-xs-left">
                    <img src="{{global}}/portraits/3.jpg">
                  </a>
                  <div class="m-l-60">
                    <a href="#">Stacey Hunt</a>
                    <small class="m-l-10">30th July 2016</small>
                    <p class="m-t-5">
                      Commodo proident qui duis eu aliqua. Nisi quis nostrud sit ad. Est aliqua quis
                      voluptate ea excepteur enim ullamco deserunt. Elit deserunt
                      id eiusmod proident consequat deserunt.
                    </p>
                  </div>
                  <div class="dropdown comment-operation">
                    <button type="button" class="btn btn-icon btn-round btn-default btn-sm" data-toggle="dropdown"
                      aria-expanded="false">
                      <i class="icon wb-more-vertical"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Report</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Delete</a>
                    </div>
                  </div>
                </div>
                <form class="wall-comment-reply">
                  <input type="text" class="form-control" placeholder="Write Something...">
                  <div class="reply-operation">
                    <button class="btn btn-sm btn-primary reply-post" type="button">POST</button>
                    <button class="btn btn-sm btn-pure btn-default reply-cancel" type="button">CANCEL</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="card card-shadow">
              <div class="card-block media clearfix p-25">
                <div class="media-left">
                  <a href="#" class="avatar avatar-lg">
                    <img class="img-fluid" src="{{global}}/portraits/3.jpg">
                  </a>
                </div>
                <div class="media-body text-middle">
                  <h4 class="media-heading">
                    Tim Collins
                  </h4>
                  <small>Posted on 2nd Sep 2016 at 17:00</small>
                </div>
              </div>
              <div class="card-block p-x-25  p-t-0">
                <p class="wall-note">Added a new video</p>
                <p class="card-text m-b-20">
                  Anim anim deserunt ullamco eiusmod cupidatat id fugiat veniam. Mollit do sit officia
                  dolor velit esse. Incididunt amet amet nulla incididunt enim.
                  Officia laboris enim exercitation esse consequat. Dolor laboris
                  nulla dolor nisi consectetur officia fugiat culpa mollit. Consectetur
                  ea mollit duis nisi et mollit aliquip. Reprehenderit ex aliqua
                  ad consectetur Lorem occaecat. Non est ipsum deserunt nostrud
                  eiusmod pariatur eiusmod sint.
                </p>
                <div class="row m-b-20 no-space">
                  <div class="col-xxl-6 col-xl-12">
                    <div class="cover player" data-plugin="plyr" data-video-id="v_1">
                      <video poster="{{assets}}/examples/images/poster.jpg" controls crossorigin>
                        <!-- Video Files -->
                        <source type="video/mp4" src="https://cdn.selz.com/plyr/1.0/movie.mp4">
                        <source type="video/webm" src="https://cdn.selz.com/plyr/1.0/movie.webm">

                        <!-- Text Track File -->
                        <track kind="captions" label="English" srclang="en" src="//cdn.selz.com/plyr/1.0/en.vtt"
                          default>

                        <!-- Fallback For Browsers That Don'T Support The <Video> Element -->
                        <a href="https://cdn.selz.com/plyr/1.0/movie.mp4">Download</a>
                      </video>
                    </div>
                  </div>
                </div>
                <ul class="wall-attrs clearfix p-0 m-0">
                  <li class="attrs-meta pull-xs-left">
                    <span>
                      <i class="icon wb-chat"></i> 18
                    </span>
                    <span class="success m-l-10">
                      </if>
                      <i class="icon wb-heart"></i> 45
                    </span>
                  </li>
                  <li class="pull-xs-right">
                    <a href="#" class="avatar avatar-sm" data-paticipator-id="p_1">
                      <img src="{{global}}/portraits/2.jpg">
                    </a>
                    <a href="#" class="avatar avatar-sm" data-paticipator-id="p_2">
                      <img src="{{global}}/portraits/1.jpg">
                    </a>
                  </li>
                </ul>
              </div>
              <div class="card-footer p-20">
                <div class="wall-comment">
                  <a href="#" class="avatar avatar-md pull-xs-left">
                    <img src="{{global}}/portraits/3.jpg">
                  </a>
                  <div class="m-l-60">
                    <a href="#">Stacey Hunt</a>
                    <small class="m-l-10">30th July 2016</small>
                    <p class="m-t-5">
                      Eiusmod excepteur ut id eu et. Qui tempor reprehenderit velit culpa ex exercitation
                      aliquip adipisicing. Esse dolore ipsum deserunt sint. Elit
                      sunt elit sit reprehenderit non laboris minim incididunt.
                    </p>
                  </div>
                  <div class="dropdown comment-operation">
                    <button type="button" class="btn btn-icon btn-round btn-default btn-sm" data-toggle="dropdown"
                      aria-expanded="false">
                      <i class="icon wb-more-vertical"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Report</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Delete</a>
                    </div>
                  </div>
                </div>
                <form class="wall-comment-reply">
                  <input type="text" class="form-control" placeholder="Write Something...">
                  <div class="reply-operation">
                    <button class="btn btn-sm btn-primary reply-post" type="button">POST</button>
                    <button class="btn btn-sm btn-pure btn-default reply-cancel" type="button">CANCEL</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="card card-shadow">
              <div class="card-block media clearfix p-25">
                <div class="media-left">
                  <a href="#" class="avatar avatar-lg">
                    <img class="img-fluid" src="{{global}}/portraits/3.jpg">
                  </a>
                </div>
                <div class="media-body text-middle">
                  <h4 class="media-heading">
                    Tim Collins
                  </h4>
                  <small>Posted on 2nd Sep 2016 at 17:00</small>
                </div>
              </div>
              <div class="card-block p-x-25  p-t-0">
                <p class="wall-note">Is listening to the Evernote</p>
                <p class="card-text m-b-20">
                  Sit commodo sit sit laborum. Elit veniam laborum nostrud officia culpa deserunt
                  quis. Proident eiusmod ut id amet sit ut. Sunt minim esse eu
                  tempor reprehenderit ullamco. Fugiat aute quis velit commodo
                  ipsum aliquip voluptate. Ea magna nostrud sint officia nulla
                  nulla sunt laborum. Ad dolore quis est aliquip duis ea esse et.
                  Eiusmod minim Lorem velit incididunt.
                </p>
                <div class="wall-body-audio clearfix">
                  <div class="row m-b-20 no-space">
                    <div class="col-xxl-6 col-xl-12">
                      <div class="cover player" data-audio-id="">
                        <audio controls>
                          <!-- Audio Files -->
                          <source type="audio/mp3" src="https://cdn.selz.com/plyr/1.0/logistics-96-sample.mp3">
                          <source type="audio/ogg" src="https://cdn.selz.com/plyr/1.0/logistics-96-sample.ogg">
                          <!-- Fallback For Browsers That Don'T Support The <Audio> Element -->
                          <a href="https://cdn.selz.com/plyr/1.0/logistics-96-sample.mp3">Download</a>
                        </audio>
                      </div>
                    </div>
                  </div>
                </div>
                <ul class="wall-attrs clearfix p-0 m-0">
                  <li class="attrs-meta pull-xs-left">
                    <span>
                      <i class="icon wb-chat"></i> 18
                    </span>
                    <span class="success m-l-10">
                      </if>
                      <i class="icon wb-heart"></i> 45
                    </span>
                  </li>
                  <li class="pull-xs-right">
                    <a href="#" class="avatar avatar-sm" data-paticipator-id="p_1">
                      <img src="{{global}}/portraits/3.jpg">
                    </a>
                    <a href="#" class="avatar avatar-sm" data-paticipator-id="p_2">
                      <img src="{{global}}/portraits/1.jpg">
                    </a>
                  </li>
                </ul>
              </div>
              <div class="card-footer p-20">
                <div class="wall-comment">
                  <a href="#" class="avatar avatar-md pull-xs-left">
                    <img src="{{global}}/portraits/3.jpg">
                  </a>
                  <div class="m-l-60">
                    <a href="#">Stacey Hunt</a>
                    <small class="m-l-10">30th July 2016</small>
                    <p class="m-t-5">
                      Amet voluptate fugiat sunt elit in sunt. Occaecat duis laborum minim velit reprehenderit
                      non. Et ullamco aliqua est nostrud Lorem ad minim cupidatat.
                      Duis ex enim labore aliqua proident sunt velit.
                    </p>
                  </div>
                  <div class="dropdown comment-operation">
                    <button type="button" class="btn btn-icon btn-round btn-default btn-sm" data-toggle="dropdown"
                      aria-expanded="false">
                      <i class="icon wb-more-vertical"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Report</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Delete</a>
                    </div>
                  </div>
                </div>
                <form class="wall-comment-reply">
                  <input type="text" class="form-control" placeholder="Write Something...">
                  <div class="reply-operation">
                    <button class="btn btn-sm btn-primary reply-post" type="button">POST</button>
                    <button class="btn btn-sm btn-pure btn-default reply-cancel" type="button">CANCEL</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-xs-12">
            <div class="card card-block">
              <h4 class="card-title">About me</h4>
              <p class="card-text">
                Laboris incididunt nisi do sunt eu duis. Reprehenderit quis commodo ex culpa est
                cupidatat aute deserunt velit. Deserunt amet nisi et sint nisi.
                Consectetur officia esse id quis occaecat est minim elit.
                <a href="#">Read more...</a>
              </p>
            </div>
            <div class="card wall-recent-comments">
              <div class="card-header card-header-transparent">
                <h4 class="card-title">
                  Recent Comments
                </h4>
                <p class="card-text">
                  Cras congue nec lorem eget posuere
                </p>
              </div>
              <div class="list-group">
                <a class="list-group-item" data-recomment-id="c_1">
                  <div class="media">
                    <div class="media-left pull-xs-left p-r-15">
                      <img class="avatar avatar-md" src="../../../global/portraits/6.jpg">
                    </div>
                    <div class="media-body">
                      <h5 class="list-group-item-heading">David Belle</h5>
                      <p class="list-group-item-text">
                        Aliquip est cupidatat eu enim nulla....
                      </p>
                    </div>
                  </div>
                </a>
                <a class="list-group-item" data-recomment-id="c_2">
                  <div class="media">
                    <div class="media-left pull-xs-left p-r-15">
                      <img class="avatar avatar-md" src="../../../global/portraits/7.jpg">
                    </div>
                    <div class="media-body">
                      <h5 class="list-group-item-heading">Jonathan Morris</h5>
                      <p class="list-group-item-text">
                        Ipsum nulla aute ad et id incididunt elit amet voluptate....
                      </p>
                    </div>
                  </div>
                </a>
                <a class="list-group-item" data-recomment-id="c_3">
                  <div class="media">
                    <div class="media-left pull-xs-left p-r-15">
                      <img class="avatar avatar-md" src="../../../global/portraits/4.jpg">
                    </div>
                    <div class="media-body">
                      <h5 class="list-group-item-heading">Fredric Mitchell Jr.</h5>
                      <p class="list-group-item-text">
                        Ad nisi est nisi veniam irure....
                      </p>
                    </div>
                  </div>
                </a>
                <a class="list-group-item" data-recomment-id="c_4">
                  <div class="media">
                    <div class="media-left pull-xs-left p-r-15">
                      <img class="avatar avatar-md" src="../../../global/portraits/7.jpg">
                    </div>
                    <div class="media-body">
                      <h5 class="list-group-item-heading">Jonathan Morris</h5>
                      <p class="list-group-item-text">
                        Anim ullamco dolor consequat nostrud veniam mollit....
                      </p>
                    </div>
                  </div>
                </a>
                <a class="list-group-item" data-recomment-id="c_5">
                  <div class="media">
                    <div class="media-left pull-xs-left p-r-15">
                      <img class="avatar avatar-md" src="../../../global/portraits/4.jpg">
                    </div>
                    <div class="media-body">
                      <h5 class="list-group-item-heading">Fredric Mitchell Jr.</h5>
                      <p class="list-group-item-text">
                        Consequat laborum ex ad esse commodo magna....
                      </p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="comments-view card-footer card-footer-transparent">
                <a href="#">View All</a>
              </div>
            </div>
            <div class="card p-20">
              <h4 class="card-title">
                Contact Information
              </h4>
              <p class="card-text">
                Fusce eget dolor id justo luctus commodo vel pharetra nisi. Donec velit libero
              </p>
              <div class="card-block p-0">
                <p data-info-type="phone" class="m-b-10 text-nowrap">
                  <i class="icon wb-user m-r-10"></i>
                  <span class="text-break">00971123456789
                    <span>
                </p>
                <p data-info-type="email" class="m-b-10 text-nowrap">
                  <i class="icon wb-envelope m-r-10"></i>
                  <span class="text-break">malinda.h@gmail.com
                    <span>
                </p>
                <p data-info-type="fb" class="m-b-10 text-nowrap">
                  <i class="icon bd-facebook m-r-10"></i>
                  <span class="text-break">malinda.hollaway
                    <span>
                </p>
                <p data-info-type="twitter" class="m-b-10 text-nowrap">
                  <i class="icon bd-twitter m-r-10"></i>
                  <span class="text-break">@malinda (twitter.com/malinda)
                    <span>
                </p>
                <p data-info-type="address" class="m-b-10 text-nowrap">
                  <i class="icon wb-map m-r-10"></i>
                  <span class="text-break">44-46 Morningside Road,Edinburgh,Scotland
                    <span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  {{/content}}
{{/extend}}