---
title: EventDrops
body_class: page-eventdrops
---

{{#extend "layout-default"}}
  {{#content "css_vendor" mode="append"}}
    <link rel="stylesheet" href="{{global}}/vendor/eventdrops/eventDrops.css">
  {{/content}}

  {{#content "css" mode="prepend"}}
    <link rel="stylesheet" href="{{assets}}/examples/css/pages/enentdrops.css">
  {{/content}}


  {{#content "js_vendor" mode="append"}}
    <script src="{{global}}/vendor/d3/d3.js"></script>
    <script src="{{global}}/vendor/eventdrops/eventDrops.js"></script>
  {{/content}}


  {{#content "scripts" mode="replace"}}
    <script src="{{assets}}/examples/js/pages/eventdrops.js"></script>
  {{/content}}

  {{#content "body"}}

    <!-- Page -->
    <div class="page animsition">
      <div class="page-header">
        <h1 class="page-title">Event Drops Demo</h1>
      </div>
      <div class="page-content">
      </div>
    </div>
    <!-- End Page -->

  {{/content}}
{{/extend}}